.colorieBg {
  --bubbleRadius: 4vh;
  --bubbleSpin: 35vh;
  height: 100vh;
  background-color: #b0d0d3
  
}
.colorieBg *{
  
  box-sizing: border-box;
}

.colorieBg .cornerPalette{
  position: absolute;
  background-color: #7caca2;
  border: 8px solid ;
  border-color: #1e1e1e;
  text-align: center;
  border-radius: 400px;
}

.colorieBg .txtPalette{
  text-align: center;
  position: absolute;
  left: 26%;
  top: 85%;
  font-size: 2.6em;
  font-weight: 700;
  pointer-events: none;
}

.colorieBg .cornerBubble{
  position: absolute;
  background-color: #ffcad4;
  border-radius: 100px;
  border: 3px solid ;
  border-color: #ffcad4;
  transition: border-color 0.5s;
  
}
.txtBubble{
  text-align: center;
  margin: auto;
  font-size: 1.3em;
  font-weight: 700;
  padding: 33% 0;
  transition: transform 0.5s;
}
.txtBubble:hover{
  transform: scale(1.3);

}


.colorieBg .cornerBubble:hover{
  border-color: #fefefe;
}

.colorieBg .poster{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.colorieBg .poster{
  width: 100%;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  top:0px;
  position: sticky;
}

.colorieBg .blog{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.colorieBg .layout_1{
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  padding-bottom: 5vh;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  flex-direction: column;
  flex: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}

.colorieBg .heading_1{
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.colorieBg .heading_title {
  max-width: 50%;
}

.colorieBg .heading_title h1{
  font-size: 60px;
  font-family: Poiret,GDC_L;
  font-weight:1000;
  text-indent: -1.5em;
  padding-left: 1.5em;
  /* text-shadow: -5px -5px #7caca2; */
}


.colorieBg .heading_date{
  max-width: 30%;
  right: 5vh;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0;
}

.colorieBg  .date_line{
  font-family: Poiret;
  font-weight: 900;
  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
}

.colorieBg .about_1{
  max-width: 25vw;
  position:relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  height: 50vh;
  right: 0;
  left: 70%;
  font-size: 1.5em;
}




.colorieBg .threeCanvas{
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  .colorieBg .heading_date{
    display: none;
    /* background-color: #1e1e1e; */
  }

  .colorieBg .heading_title{
    max-width: 100%;
  }
  .colorieBg .heading_title h1{
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
  .colorieBg .about_1{
  max-width: 50vw;
  left: 45%;
  top: 5%;
  }
  .colorieBg {
    --paletteRadius: 20vh;
    --bubbleRadius: 4vh;
    --bubbleSpin: 26vh;
    
  }
}

.colorieBg .header{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


/* button */
.colorieBg button {
  position: relative;
  font-weight: 700  ;
  font-size: 2.2em;
  padding: 0.4em 0.4em;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 1em;
  color: #1E1E1E;
  text-align: center;
}

.colorieBg button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #efefef 0%, #efefef 50%, #e1e1e1 50%, #efefef 60%);
  border-radius: 0 0 1em 0;
  transition: 0.3s;
}

.colorieBg button:hover::before {
  width: 2em;
  height: 2em;
}

